*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* general */
#col-sx{
    width: 100px;
    height: calc(100vh - 75px);
    background-color: #051E34;
}
#col-dx{
    width: calc(100% - 100px);
    height: calc(100vh - 75px);
    overflow-y: auto; 
    overflow-x: hidden; /* da rivedere*/
}
#general-container{
    padding-top: 75px;
}
.a{
    visibility: visible;
}
/* header e navbar */
header{
    height: 75px;
    background-color: #F8F9FA;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
}
.search-bar{
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
    background-color: #E5E5E5;
}
.search-bar i{
    margin-right: 10px;
}
.search-bar-input{
    width: 100%;
    border: none;
    outline: none;
    background-color: #E5E5E5;
}
.search-bar-input::placeholder{
    font-size: 20px;
}
.height-logo{
    height: 60px;
}
#navbar{
    background-color: white;
    height: 60px;
}
.header-menu-list{
    list-style-type: none;
    display: flex;
    padding: 0px;
    margin-bottom: 0px;
    gap: 15px;
}
.fa-bell{
    color: #FFC107;
}

/* sidebar */
#top-sidebar, #bottom-sidebar{
    color: white;
}
.icon-text{
    display: none;
    margin-left: 10px;
    font-size: 15px;
}
.icon{
    font-size: 25px;
}

/* topbar */
#topbar{
    background-color: #1B72E8;
    padding: 30px 20px 30px ;
}
#topbar .content{
    height: 50px;
    border: 1px solid black;
    margin: 20px 0;
}
.container-col-topbar{
    color: white;
}
#bottone-topbar{
    border: 1px solid white;
    background-color: transparent;
    margin-left: 20px;
}
.tag{
    background-color: #165BBA;
    padding: 5px 10px;
    font-size: 15px;
    text-align: center;
    border-radius: 20px;
}

/* main */
#main{
    width: 100%;
    padding: 30px 0;
}
#new-classes, #FAQ, #todo, #active-users{
    width: 100%;    
}
.table-logo{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: #F26551;
    font-size: 20px;
    color: white;
}
.stato{
    border-radius: 10px;
    width: 60px;
    margin: 0 auto;
    color: white;
    padding: 0px 5px 4px 5px;
    font-size: 15px;

}
.stato-done{
    background-color: #39986C;
}
.stato-process{
    background-color: #FFC107;
}
.stato-failed{
    background-color: #DC3545;
}
#bottone-azione{
    color: #6C757D;
    border: 1px solid #6C757D;
    background-color: transparent;
}
.list-group-item img{
    width: 100%;
}
#FAQ{
    margin: 30px 0;
}
#todo{
    margin-bottom: 30px;
}

/* hover */
#main tr:hover{
    background-color: #ECECEC;
}
.container-icon:hover{
    background-color: #807d7d;
}
